## Working with the Brown Corpus (using nltk):

To get the Borwn corpus, do **either** this:

In [6]:
import nltk
nltk.download('brown')

[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Unzipping corpora/brown.zip.

True

In [4]:
import nltk
from nltk.corpus import brown

of if that doesn't work, **this**:

In [2]:
from nltk.corpus import download
download("brown")

ImportError: cannot import name 'download' from 'nltk.corpus' (/usr/local/lib/python3.12/dist-packages/nltk/corpus/__init__.py)

The following code cell assigns a list of all 1.2 M word tokens in `brown` to the name `bw`:

In [7]:
bw = brown.words()

The value of the name `bw`:

In [8]:
bw

['The', 'Fulton', 'County', 'Grand', 'Jury', 'said', ...]

To get a data structure with all the word counts, do:

In [9]:
fd = nltk.FreqDist(bw)

What `fd` is is an`nltk FreqDist` (Frequency Distribution), essentially, a Python dictionary containing the count of all the word types in Brown.

In [10]:
fd["computer"]

13

That means there are 13 *tokens* of the word type 'computer' in the Brown corpus.  Note that case matters:

In [11]:
fd["Computer"]

0

In [12]:
fd['the'],fd['The']

(62713, 7258)

The `fd` FreqDist also has some features customized for word frequencies, like the `most_common` method), which allows you to find the top n most frequent words and their counts. For example:

In [13]:
fd.most_common(3)

[('the', 62713), (',', 58334), ('.', 49346)]

To find the number of word tokens in Brown, find the length of `bw`.

In [14]:
len(bw)

1161192

So, about 1.16 Million words.  You can also do this more efficiently, by using another one of the customized methods provided by a `FreqDist`:

In [15]:
fd.N()

1161192

To find out the number of **word types** in Brown, just get the length of the `fd` dictionary:

In [16]:
len(fd)

56057

It is handy to ignore case for purposes of this exercise. To do that, just lowercase all the words in Brown before making the frequency distribution. This changes the number of word types, but not the number of word tokens:

In [17]:
# This uses what Pythonistas call a list comprehension.
# It's just a compact way of writing a loop and collecting results in  a list.
bw = brown.words()
bw = [w.lower() for w in bw]
len(bw)

1161192

The length of the **corpus** (the body of data) hasn't changed.

In [18]:
fd = nltk.FreqDist(bw)
len(fd)
#49815

49815

The dictionary has shrunk because we now ignore the distinction between 'The' and 'the'.

In [19]:
fd['the']

69971

In [20]:
fd['The']

0

You may find it useful to take a look at [Chapter One of the NLTK book.](http://www.nltk.org/book/ch01.html)

### Constructing a bigram model

In [21]:
# The Brown Corpus
from nltk.corpus import brown
from nltk import FreqDist
from nltk import bigrams

Here is some helpful code for computing the counts in the **Brown Corpus** needed for a bigram model.

In [22]:
#Lowers case all the words
words = [w.lower() for w in brown.words()]
fd = FreqDist(words)
fd2 = FreqDist(bigrams(words))

In [31]:
unigram_ct = fd["of"]
bigram_ct = fd2[("of","the")]
p_the_given_of = bigram_ct / unigram_ct
unigram_ct, bigram_ct, p_the_given_of

(36412, 9717, 0.26686257277820497)

In [32]:
bigram_ct_2 = fd2[("football","player")]
unigram_ct_2 = fd["football"]
p_player_given_football = bigram_ct_2 / unigram_ct_2

total_bigrams = fd2.N()
p_football_player = bigram_ct_2 / total_bigrams

bigram_ct_2, unigram_ct_2, p_player_given_football, total_bigrams, p_football_player

(1, 36, 0.027777777777777776, 1161191, 8.611847663304314e-07)

In [33]:
count_1 = fd["football"]
count_2 = fd.N()
count_1, count_2, count_1 / count_2

(36, 1161192, 3.100262488890726e-05)

In [34]:
from collections import Counter

of_follow_counts = Counter()
for (w1, w2), ct in fd2.items():
    if w1 == "of":
        of_follow_counts[w2] += ct

top20 = sorted(of_follow_counts.items(), key=lambda x: x[1], reverse=True)[:20]

total_of_ct = fd["of"]
sum_of_cts_of_top_20_of_followers = sum(ct for _, ct in top20)
top_20_of_followers = sum_of_cts_of_top_20_of_followers / total_of_ct

total_of_ct, sum_of_cts_of_top_20_of_followers, top_20_of_followers

(36412, 16122, 0.44276612105899155)

In [35]:
from nltk import trigrams
from collections import Counter
import string

punct = set(string.punctuation)

def ok(tok):
    return tok != "of" and tok not in punct

tri_counts = Counter(
    t for t in trigrams(words)
    if all(ok(w) for w in t)
)

most_common_lexical_trigram = tri_counts.most_common(1)[0][0]
most_common_lexical_trigram

('the', 'united', 'states')

Number of times the word *bald* appeared in the Brown corpus:

In [23]:
fd["bald"]

5

Number of times the bigram *stormy weather* appeared in  the Brown corpus:

In [24]:
fd2["stormy","weather"]

1

Total count of the word tokens in the Brown corpus is unchanged:

In [25]:
fd.N()

1161192

Total count of all the bigram tokens in the Brown corpus:

In [26]:
fd2.N()

1161191

Twenty most common words in the Brown corpus together with their counts:

In [27]:
fd.most_common(20)

[('the', 69971),
 (',', 58334),
 ('.', 49346),
 ('of', 36412),
 ('and', 28853),
 ('to', 26158),
 ('a', 23195),
 ('in', 21337),
 ('that', 10594),
 ('is', 10109),
 ('was', 9815),
 ('he', 9548),
 ('for', 9489),
 ('``', 8837),
 ("''", 8789),
 ('it', 8760),
 ('with', 7289),
 ('as', 7253),
 ('his', 6996),
 ('on', 6741)]

Twenty most common bigrams in the corpus together with their counts:

In [28]:
fd2.most_common(20)

[(('of', 'the'), 9717),
 ((',', 'and'), 6302),
 (('.', 'the'), 6081),
 (('in', 'the'), 6025),
 ((',', 'the'), 3787),
 (('.', '``'), 3515),
 (('to', 'the'), 3484),
 (("''", '.'), 3332),
 ((';', ';'), 2784),
 (('.', 'he'), 2660),
 (('on', 'the'), 2466),
 (('?', '?'), 2346),
 (('and', 'the'), 2246),
 (("''", ','), 2032),
 ((',', 'but'), 1856),
 (('for', 'the'), 1852),
 (('.', 'it'), 1836),
 (('to', 'be'), 1718),
 (('at', 'the'), 1655),
 (('.', 'in'), 1619)]

In [29]:
def restrict_most_common (fd,f_rest):
    """
    Returns the x that satisfy restriction f_rest in sorted order
    according to fd.most_common()
    """
    bs,cts = zip(*[(x,ct) for (x,ct) in fd.most_common() if f_rest(x)])
    return bs, np.array(cts)

Example

In [30]:
bs,cts = restrict_most_common (fd, lambda  x:x.startswith("grou"))

NameError: name 'np' is not defined

In [ ]:
bs

('group',
 'ground',
 'groups',
 'grounds',
 'groupings',
 'grounded',
 'groundwave',
 'grouped',
 'grouping',
 'groundwork',
 'grounding',
 'grounder',
 "group's",
 'groundless',
 'ground-glass',
 'ground-swell',
 'ground-level',
 'ground-truck')

In [ ]:
cts

array([390, 186, 125,  58,   9,   6,   6,   5,   4,   3,   2,   1,   1,
         1,   1,   1,   1,   1])